<div class="header">
    <h2 class="text-center">Contact Us</h2>
    <h2>We are happy to reach you!</h2>
</div>
<div class="container">
    <!--for two para one general and one contact address-->
    <div class="paragraph">
        <div >
            <p class="general">We’d love to capture your special moments. Please fill out the form below with your details, and we’ll get back to you as soon as possible.</p>
        </div>
        <hr>
        <div class="physical">
            <div class="address">
                <p class="black">Contact</p>
                <p>Focus & Fade GMBH</p>
                <p>Florsidorf-39/29, 1040</p>
                <p>Wien, Austria</p>
            </div>
            <div class="phone">
                <p class="black1">Telephone</p>
                <p>+436723018940</p>
            </div>
        <img src="imgs/paper.png" alt="" class="images">

        </div>
    </div>
    <!--form start here-->
    <div class="form">
        <form>
            <div class="mb-3">
              <label for="Name" class="form-label">First-Name</label>
              <input type="text" required class="form-control" id="Name" aria-describedby="Name">
            </div>

            <div class="mb-3">
                <label for="Last-Name" class="form-label">Last-Name</label>
                <input type="text" required class="form-control" id="Last-name" aria-describedby="Last-name">
            </div>

            <div class="mb-3">
                <label for="Country" class="form-label">Country</label>
                <input type="Name" required class="form-control" id="Country" aria-describedby="Country">
            </div>

            <div class="mb-3">
                <label for="Province" class="form-label">Province</label>
                <input type="Name" required class="form-control" id="Province" aria-describedby="Province">
            </div>

            <div class="mb-3">
                <label for="Street" class="form-label">Street/House-Number </label>
                <input type="Name" required class="form-control" id="Street" aria-describedby="Street">
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="Emailhelp">
                <div id="emailHelp" required class="form-text">We'll never share your email with anyone else.</div>
            </div>

            <div class="mb-3 form-check">
              <input type="checkbox" required class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Agree to our term and condition!</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>

</div>