.about-section, .collaborators-section, .tools-section, .contact-section {
    margin-bottom: 3rem;
  }
  
  .about-section img, .collaborators-section img, .tools-section img {
    max-width: 100%;
    height: 450px;
  }
  
  .btn-dark {
    background-color: #343a40;
    border-color: #343a40;
  }
  
  .btn-dark:hover {
    background-color: #23272b;
    border-color: #23272b;
  }
  