/* General Styles for Course Detail and Course List  */
.courses-detail {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .courses-detail h1 {
    font-size: 3em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .courses-detail p {
    font-size: 1.5rem;
    color: #666;
    line-height: 1.6;
  }
  
  /* Courses list Styles */
  .course-list {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .course-item {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .course-item:hover {
    transform: translateY(-5px);
  }
  
  .course-item h2 {
    font-size: 2rem;
    color: #333;
    margin-top: 0;
  }
  
  .course-item p {
    font-size: 1.5em;
    color: #666;
    line-height: 1.6;
  }
  
  .course-item strong {
    font-weight: bold;
    color: #333;
  }
  
  .course-item button {
    background-color: rgba(128, 128, 128, 0.39);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .course-item button:hover {
    background-color: rgb(93, 93, 93);
  }