<nav class="navbar navbar-expand-lg sticky-top custom-navbar" id="mainNavbar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">John Doe Photography</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/testimonials"
            >Testimonials</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Courses
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <!-- Dropdown items for courses where each item is a link to a course detail page and the numbers stand for the ids -->

            <a class="dropdown-item" routerLink="/course-detail/1"
              >Beginner Photography</a
            >
            <a class="dropdown-item" routerLink="/course-detail/2"
              >Portrait Photography</a
            >
            <a class="dropdown-item" routerLink="/course-detail/3"
              >Landscape Photography</a
            >
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customers">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main>
  <ng-content />
</main>
<footer class="py-5 bg-layout text-center">
  <div class="container">
    <h3>Focus & Fade Photography</h3>
    <p class="mb-1">Capturing moments, creating memories.</p>

    <div class="mb-1 d-flex gap-4 justify-content-center">
      <a class="text-dark" href="https://instagram.com" target="_blank"
        ><i class="bi bi-instagram"></i
      ></a>
      <a class="text-dark" href="https://facebook.com" target="_blank"
        ><i class="bi bi-facebook"></i
      ></a>
      <a class="text-dark" href="mailto:contact@johndoe.com"
        ><i class="bi bi-envelope"></i
      ></a>
    </div>

    <div>&copy; 2025 Focus & Fade Photography. All rights reserved.</div>
  </div>
</footer>
