<div class="position-relative text-light text-center">
  <div class="lead-image bg-black">
    <img src="/imgs/hero-image.png" alt="hero-image" class="w-100 opacity-75">
  </div>
  <div class="position-absolute top-0 left-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center" >
    <h1 class="lead-text-effect">Unleashing Power. Embracing Elegance.</h1>
    <p >
      Capturing moments where strength meets grace — through the lens of timeless photography.
    </p>
    <a routerLink="/contact" class="btn btn-light btn-lg mt-4">Contact Us</a>
  </div>
</div>
