<div class="hero-section d-flex align-items-center justify-content-center text-center text-white">
  <div class="overlay"></div>
  <div class="content px-3">
    <h1 class="display-4 fw-bold">Capture Strength & Grace</h1>
    <p>
      Capturing moments where strength meets grace — through the lens of timeless photography.
    </p>
    <a routerLink="/contact-us" class="btn btn-outline-light btn-lg mt-4 inline-block bg-blue-600 hover:bg-blue-700 text-black font-semibold py-3 px-6 rounded-xl shadow-md transition duration-300 mt-6">Contact Us</a>
  </div>
  </div>
