/* PORTFOLIO STYLING */

.image-overlay-container {
    position: relative;
    overflow: hidden;
  }

  .image-overlay-container img {
    transition: transform 0.4s ease;
  }

  .card:hover .image-overlay-container img {
    transform: scale(1.08);
  }

  .overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.6);
    color:#f3d9a4;
    text-transform: uppercase;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.4s ease;
  }
  
  .btn {
    background: #ece2ce;
    font-family: 'Poetsen One';
  }

  .card:hover .overlay-text {
    transform: translateY(0%);
  }

/* AWARDS STYLING */

.awards-section {
    background-image: url('/imgs/space-background.jpeg');
    background-color: #0b1e3f;
    background-blend-mode: overlay;

    img {
        width: 200px;
        height: 200px;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

/* SUMMARY STYLING */

  .latest-blog {
    padding: 3rem 2rem;
    background-color: #f5f6fa;
    color: #2d2d2d;
    font-family: 'Segoe UI';
  }

  .latest-blog h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 45px;
    color: #1e3a5f;

  }

  .content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
    margin: 0 auto;
  }

  .video-container iframe {
    height: 500px;
    border-radius: 12px;
  }

  .blog-info {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .blog-info h3 {
    font-size: 1.6rem;
    color: #1e3a5f;
    margin-bottom: 1rem;
  }

  .meta {
    font-size: 0.95rem;
    color: #777;
    margin-bottom: 1.5rem;
  }

  .summary {
    font-size: 1rem;
    color: #444;
    line-height: 1.6;
  }

  .read-more {
    color: #1e3a5f;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
  }

  .read-more:hover {
    border-color: #1e3a5f;
  }

  .powered-by span {
    font-size: 0.9rem;
    color: #888;
  }

  .powered-by img {
    height: 75px;
    object-fit: contain;
  }