<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<h2 class="display-4 m-5">Testimonials</h2>

<div class="container">
  <div class="slider-window">
    <div class="bikini-bottom" id="slider">
      
      <!-- Testimonial for Patrik-->
      <div class="testimonial-slide">
        <div class="testi">
          <img src="imgs/patrik1.jpg" alt="Patrik" class="images">
        </div>
        <div class="text">
          <p class="description">
            “Absolutely blown away by the photos! The team made us feel so comfortable during the shoot, and the results were stunning. Every moment was captured beautifully — we’ll cherish these forever. Highly recommend to anyone looking for timeless, professional photography.”
          </p>
          <i class="fa-solid fa-quote-right quote-icon"></i>
          <section class="details">
            <p class="name">Mr. Lee Wang</p>
            <p class="job">CEO- Janxiang Co.</p>
          </section>
        </div>
      </div>

      <!-- Testimonial for Mr. Crab-->
      <div class="testimonial-slide">
        <div class="testi">
          <img src="imgs/crab.3.png" alt="Mr. Krabs" class="images">
        </div>
        <div class="text">
          <p class="description">
            “From start to finish, the experience was incredible. The attention to detail, the creative direction, and the relaxed vibe made the entire session so enjoyable. The final photos? Pure magic. Can’t wait to book again!”
          </p>
          <i class="fa-solid fa-quote-right quote-icon"></i>
          <section class="details">
            <p class="name">Mr.Alexendar Muller</p>
            <p class="job">CEO- Muller Co.</p>
          </section>
        </div>
      </div>

     <!-- Testimonial for Mr. Plankton-->
      <div class="testimonial-slide">
        <div class="testi">
          <img src="imgs/plankton1.jpg" alt="Plankton" class="images">
        </div>
        <div class="text">
          <p class="description">
            “I’ve worked with quite a few photographers — but this studio stands out. The lighting, direction, and vibe were all on point. They brought out the best in me and made the shoot feel effortless. The photos look like they belong in a magazine!”
          </p>
          <i class="fa-solid fa-quote-right quote-icon"></i>
          <section class="details">
            <p class="name">Ms. Annatasya Korvachik</p>
            <p class="job">CEO- Girl Power GMBH</p>
          </section>
        </div>
      </div>

    </div>
  </div>

  <!-- handle button for sliding -->
  <div class="controls">
    <button (click)="slideTo(0)"></button>
    <button (click)="slideTo(1)"></button>
    <button (click)="slideTo(2)"></button>
  </div>
</div>