<div class="container text-center">
  <h1 class="display-4 my-5 fw-bold">Our Customers</h1>
  <div class="lead">
    <p>
      From weddings to corporate events, we are honored to have captured the
      unique stories and visions of a diverse range of clients. Each project is
      an opportunity to create something beautiful and meaningful, and we strive
      to deliver exceptional service and stunning photographs that exceed
      expectations. Discover the stories of our satisfied customers and see why
      they choose us for their photography needs. Their trust and support are
      our greatest rewards, and we are grateful for the opportunity to build
      lasting relationships with each and every one of them.
    </p>
  </div>

  <div class="containerLogos my-4">
    <div class="row">
      @for (customer of customers; track customer.id) {
        <div class="col-md-4 col-sm-6 mb-4 d-flex justify-content-center">
        <img
          src="{{ customer.logo }}"
          class="img-fluid clickable-logo"
          [alt]="customer.name"
          (click)="open(content, customer)"
          style="cursor: pointer"
        />
      </div>
      <!-- Modal Template from ng.bootstrap documentation-->
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title">{{ selectedCustomer?.name }}</h4>
        </div>
        <div class="modal-body">
          <p>{{ selectedCustomer?.description }}</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="modal.close('Close click')"
          >
            Close
          </button>
          <a 
          href="{{ customer.link }}"
          target="_blank"
          rel="noopener"
          class="btn btn-dark"
          >
            Go to the Website</a
          >
        </div>
      </ng-template>
      }
    </div>
  </div>
</div>
