.containerLogos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.containerLogos img {
  width: 250px;
  height: auto;
  margin: 10px;
  border: 1px solid rgba(128, 128, 128, 0.514);
    border-radius: 20%;
    padding: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.containerLogos img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.containerLogos img:active {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}
