<div class="container text-center">
  <h1 class="display-4">Customers</h1>
  <div class="lead">
    <p>
      From weddings to corporate events, we are honored to have captured the
      unique stories and visions of a diverse range of clients. Each project is
      an opportunity to create something beautiful and meaningful, and we strive
      to deliver exceptional service and stunning photographs that exceed
      expectations. Discover the stories of our satisfied customers and see why
      they choose us for their photography needs. Their trust and support are
      our greatest rewards, and we are grateful for the opportunity to build
      lasting relationships with each and every one of them.
    </p>
  </div>
  <div class="d-flex justify-content-around">
    <img src="/logos/Airmiles.png" class="img-fluid" alt="Airmiles" />
    <img src="/logos/FedEx.png" class="img-fluid" alt="FedEx" />
    <img src="/logos/Nikon.png" class="img-fluid" alt="Nikon" />
    <img
      src="/logos/Peakperformers.png"
      class="img-fluid"
      alt="Peakperformers"
    />
    <img src="/logos/RedDragon.png" class="img-fluid" alt="RedDragon" />
    <img src="/logos/tesco.png" class="img-fluid" alt="tesco" />
  </div>
</div>
